[Unit]
Description=KD Node Agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/node-agent
Restart=always
RestartSec=10s
EnvironmentFile=/etc/node-agent/env

[Install]
WantedBy=multi-user.target
